#next-page-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}
.active-tab {
    color: #33afff !important; /* Couleur du texte */
    text-decoration: underline; /* Surlignement */
}